<h1 class="text-center mt-4"><%= @user.username %>'s profile</h1>

<%= gravatar_for @user, size: 200 %>

<%if (@user.id == 1)%>
  <h2 class = "text-center text-danger mt-2">Admin</h2>
    <p class = "text-center">"<i>Я привнёс свои волосы в жертву богу доты</i>" - Яторо.
<p>Внимание! Сегодня авиарейсом Бухарест - 
Винница была передана посылка в которой находились волосы человека 
лет 18-20. Посылку забрал лично президент Зеленский в 
окружении 100+ охраников, после чего она была отвезена некому 
Виталию Цалю, который, как поговаривают легенды города, 
создаёт из волос парики, чтобы сливаться с толпой во время 
поисков неких ''14.1''. Официальные СМИ Украины не дали никаких 
объяснений ни внезапному появлению президента в аэропорту, ни о 
том что же такое ''14.1''.</p></p>
<%end%>

<h3 class="text-center mt-5">Articles</h3>

<%= render 'articles/article'%>
