 <footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright@<%= link_to "MySite", "https://gartare1n.github.io/my-site/", class: "text-white"%></small>
    </div>
 </footer>